@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User?.Identity?.IsAuthenticated != true)
                {
                    <div class="container mt-5">
                        <div class="alert alert-warning">
                            <h4>Please log in</h4>
                            <p>You must be logged in to access this page.</p>
                            <a class="btn btn-primary" href="login">Go to Login</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="container mt-5">
                        <div class="alert alert-danger">
                            <h4>Access Denied</h4>
                            <p>You are not authorized to access this page.</p>
                        </div>
                    </div>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>